In [1]:
import bs4
import urllib.request as url

In [2]:
httpRes = url.urlopen('http://stats.espncricinfo.com/ci/content/records/283792.html')

In [3]:
page = bs4.BeautifulSoup(httpRes)

In [4]:
table = page.find('table',class_='engineTable')

In [10]:
print(table.text)

Most dismissals


Player
Span
Mat
Inns
Dis
Ct
St
Max Dis Inns
Dis/Inn




KC Sangakkara (Asia/ICC/SL)
2000-2015
404
353
482
383
99
5 (4ct 1st)
1.365


AC Gilchrist (AUS/ICC)
1996-2008
287
281
472
417
55
6 (6ct 0st)
1.679


MS Dhoni (Asia/INDIA)
2004-2019
342
337
435
314
121
6 (5ct 1st)
1.290


MV Boucher (Afr/SA)
1998-2011
295
290
424
402
22
6 (6ct 0st)
1.462


Moin Khan (PAK)
1990-2004
219
209
287
214
73
5 (5ct 0st)
1.373


BB McCullum (NZ)
2002-2016
260
183
242
227
15
5 (5ct 0st)
1.322


IA Healy (AUS)
1988-1997
168
168
233
194
39
4 (4ct 0st)
1.386


Rashid Latif (PAK)
1992-2003
166
164
220
182
38
5 (5ct 0st)
1.341


Mushfiqur Rahim (BDESH)
2006-2019
208
194
211
169
42
5 (5ct 0st)
1.087


RS Kaluwitharana (SL)
1990-2004
189
185
206
131
75
5 (4ct 1st)
1.113


PJL Dujon (WI)
1981-1991
169
166
204
183
21
4 (4ct 0st)
1.228


JC Buttler (ENG)
2012-2019
134
129
190
160
30
6 (6ct 0st)
1.472


RD Jacobs (WI)
1996-2004
147
145
189
160
29
6 (5ct 1st)
1.303


D Ramdin (WI)
2005-2016
139
137
188
181
7
5 (5ct 0st)
1.372


Kamran Akmal (PAK)
2002-2017
157
151
187
156
31
5 (4ct 1st)
1.238


BJ Haddin (AUS)
2001-2015
126
115
181
170
11
5 (5ct 0st)
1.573


DJ Richardson (SA)
1991-1998
122
121
165
148
17
5 (5ct 0st)
1.363


A Flower (ZIM)
1992-2003
213
185
165
133
32
5 (5ct 0st)
0.891


AJ Stewart (ENG)
1989-2003
170
137
163
148
15
6 (6ct 0st)
1.189


Q de Kock (SA)
2013-2019
109
105
162
154
8
6 (5ct 1st)
1.542


NR Mongia (INDIA)
1994-2000
140
139
154
110
44
5 (4ct 1st)
1.107


T Taibu (Afr/ZIM)
2001-2012
150
143
145
112
33
4 (4ct 0st)
1.013


AC Parore (NZ)
1992-2002
179
147
136
111
25
5 (3ct 2st)
0.925


Khaled Mashud (BDESH)
1995-2006
126
126
126
91
35
5 (3ct 2st)
1.000


Sarfaraz Ahmed (PAK)
2007-2019
108
106
125
102
23
6 (6ct 0st)
1.179


RW Marsh (AUS)
1971-1984
92
92
124
120
4
5 (5ct 0st)
1.347


BRM Taylor (ZIM)
2004-2018
188
95
118
89
29
5 (5ct 0st)
1.242


L Ronchi (AUS/NZ)
2008-2017
85
83
117
105
12
4 (4ct 0st)
1.409


MS Wade (AUS)
2012-2017
94
94
117
108
9
5 (5ct 0st)
1.244


Saleem Yousuf (PAK)
1982-1990
86
86
103
81
22
4 (3ct 1st)
1.197


AB de Villiers (Afr/SA)
2005-2018
228
59
98
93
5
5 (5ct 0st)
1.661


NJ O'Brien (IRE)
2006-2018
103
77
96
82
14
5 (5ct 0st)
1.246


KS More (INDIA)
1984-1993
94
93
90
63
27
5 (3ct 2st)
0.967


Mohammad Shahzad (AFG)
2009-2019
84
82
88
63
25
5 (4ct 1st)
1.073


R Dravid (Asia/ICC/INDIA)
1996-2011
344
72
86
72
14
3 (3ct 0st)
1.194


IDS Smith (NZ)
1980-1992
98
96
85
80
5
3 (3ct 0st)
0.885


MJ Prior (ENG)
2004-2011
68
56
77
69
8
6 (6ct 0st)
1.375


GO Jones (ENG/PNG)
2004-2014
51
49
72
68
4
5 (5ct 0st)
1.469


MH Cross (SCOT)
2014-2019
45
41
69
66
3
6 (6ct 0st)
1.682


CO Browne (WI)
1995-2005
46
46
68
59
9
5 (5ct 0st)
1.478


A Bagai (CAN)
2003-2013
62
56
67
58
9
4 (4ct 0st)
1.196


SD Hope (WI)
2016-2019
56
54
65
56
9
4 (4ct 0st)
1.203


C Kieswetter (ENG)
2010-2013
46
42
64
52
12
5 (2ct 3st)
1.523


Wasim Bari (PAK)
1973-1984
51
50
62
52
10
4 (3ct 1st)
1.240


GC Wilson (IRE)
2007-2019
105
46
59
49
10
4 (4ct 0st)
1.282


Umar Akmal (PAK)
2009-2019
121
37
58
45
13
5 (5ct 0st)
1.567


TD Paine (AUS)
2009-2018
35
33
55
51
4
5 (5ct 0st)
1.666


KO Otieno (KENYA)
1996-2009
90
58
54
40
14
4 (3ct 1st)
0.931


MA Ouma (KENYA)
2004-2014
80
57
53
43
10
5 (3ct 2st)
0.929


CS Baugh (WI)
2003-2012
47
46
51
39
12
4 (2ct 2st)
1.108


JR Murray (WI)
1992-1999
55
50
51
44
7
3 (3ct 0st)
1.020


WB Phillips (AUS)
1982-1986
48
42
49
42
7
4 (3ct 1st)
1.166


J Smits (NL)
2003-2009
38
38
48
41
7
4 (4ct 0st)
1.263


TWM Latham (NZ)
2012-2019
88
38
47
40
7
5 (5ct 0st)
1.236


RC Russell (ENG)
1987-1998
40
40
47
41
6
3 (3ct 0st)
1.175


N Dickwella (SL)
2014-2019
52
48
47
38
9
4 (2ct 2st)
0.979


D Williams (WI)
1988-1997
36
35
45
35
10
4 (4ct 0st)
1.285


HP Tillakaratne (SL)
1986-2003
200
52
45
39
6
5 (5ct 0st)
0.865


CMW Read (ENG)
2000-2006
36
35
43
41
2
5 (5ct 0st)
1.228


KD Karthik (INDIA)
2004-2019
91
26
42
35
7
4 (4ct 0st)
1.615


PA Patel (INDIA)
2003-2012
38
25
39
30
9
4 (3ct 1st)
1.560


DL Murray (WI)
1973-1980
26
26
38
37
1
4 (4ct 0st)
1.461


LD Chandimal (SL)
2010-2019
146
40
38
31
7
4 (3ct 1st)
0.950


TE Blain (NZ)
1986-1994
38
33
37
36
1
4 (4ct 0st)
1.121


SMH Kirmani (INDIA)
1976-1986
49
48
36
27
9
5 (5ct 0st)
0.750


DSBP Kuruppu (SL)
1983-1990
54
31
34
26
8
4 (3ct 1st)
1.096


CJO Smith (SCOT)
2006-2009
27
26
33
22
11
5 (5ct 0st)
1.269


Ghulam Shabber (UAE)
2017-2019
23
23
32
30
2
4 (4ct 0st)
1.391


RW Taylor (ENG)
1973-1984
27
27
32
26
6
4 (4ct 0st)
1.185


JC Adams (WI)
1992-2001
127
26
31
26
5
5 (4ct 1st)
1.192


RG de Alwis (SL)
1983-1988
31
31
30
27
3
5 (5ct 0st)
0.967


WK Lees (NZ)
1979-1983
31
31
30
28
2
4 (4ct 0st)
0.967


CS Pandit (INDIA)
1986-1992
36
33
30
15
15
4 (2ct 2st)
0.909


SS Karim (INDIA)
1997-2000
34
34
30
27
3
4 (3ct 1st)
0.882


LK Germon (NZ)
1994-1997
37
37
30
21
9
4 (4ct 0st)
0.810

In [14]:
data_1 = table.text.split("\n\n")

In [21]:
del data_1[0]

In [22]:
for i in range(len(data_1)):
    data_1[i] = data_1[i].split("\n")

In [27]:
for i in range(len(data_1)):
    del data_1[i][0]

In [31]:
del data_1[1]

In [37]:
data_1[0]

['Player', 'Span', 'Mat', 'Inns', 'Dis', 'Ct', 'St', 'Max Dis Inns', 'Dis/Inn']

In [38]:
import pandas as pd

In [39]:
df = pd.DataFrame(data_1)

In [43]:
df.head()

,0,1,2,3,4,5,6,7,8
0,Player,Span,Mat,Inns,Dis,Ct,St,Max Dis Inns,Dis/Inn
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,353,482,383,99,5 (4ct 1st),1.365
2,AC Gilchrist (AUS/ICC),1996-2008,287,281,472,417,55,6 (6ct 0st),1.679
3,MS Dhoni (Asia/INDIA),2004-2019,342,337,435,314,121,6 (5ct 1st),1.290
4,MV Boucher (Afr/SA),1998-2011,295,290,424,402,22,6 (6ct 0st),1.462