In [2]:
import numpy as np
import pandas as pd

In [5]:
data = {
    "height" : [6.4,5.8,6.0,5.9,5.11,5.6,5.5,4.9,5.0,5.4,5.5,5.8,4.8,5.0],
    "weight" : [87,77,79,75,70,68,65,45,47,48,51,53,58,50],
    "gender" : ["m","m","m","m","m","m","m","f","f","f","f","f","f","f"]
}

In [6]:
df = pd.DataFrame(data)

In [8]:
df.head()

   height  weight gender
0    6.40      87      m
1    5.80      77      m
2    6.00      79      m
3    5.90      75      m
4    5.11      70      m

In [25]:
male_count = df[df['gender'] == 'm'].count()['gender']

In [26]:
male_count

7

In [27]:
female_count = df[df['gender'] == 'f'].count()['gender']

In [28]:
female_count

7

In [29]:
total_observations = len(df)

In [30]:
prob_male = male_count / total_observations
prob_female = female_count / total_observations

In [31]:
prob_male, prob_female

(0.5, 0.5)

In [33]:
var = df.groupby('gender').var()

In [34]:
var

          height     weight
gender
f       0.136667  18.571429
m       0.167348  55.952381

In [35]:
mean = df.groupby('gender').mean()

In [36]:
mean

          height     weight
gender
f       5.200000  50.285714
m       5.758571  74.428571

In [39]:
male_height_mean = mean['height'][1]
male_weight_mean = mean['weight'][1]

male_height_var = var['height'][1]
male_weight_var = var['weight'][1]

In [40]:
female_height_mean = mean['height'][0]
female_weight_mean = mean['weight'][0]

female_height_var = var['height'][0]
female_weight_var = var['weight'][0]

In [41]:
def likelihood(mean,var,obs):
    return (1 / (np.sqrt(2*np.pi*var))) * (np.exp((-(obs-mean)**2) / (2 * var)))

In [54]:
test_df = pd.DataFrame({"height":[5.7],"weight":[55]})

In [55]:
test_df

   height  weight
0     5.7      55

In [56]:
prob_male * likelihood(male_height_mean,male_height_var,test_df['height']) * likelihood(male_weight_mean,male_weight_var,test_df['weight'])

0    0.000882
dtype: float64

In [57]:
prob_female * likelihood(female_height_mean,female_height_var,test_df['height']) * likelihood(female_weight_mean,female_weight_var,test_df['weight'])

0    0.011002
dtype: float64