In [1]:
import pandas as pd
import pymysql

In [2]:
connection = pymysql.connect(host='localhost',user='root',port=3306,database='lms',autocommit=True)

In [3]:
query = "SELECT * FROM books"

In [4]:
pd.read_sql(query,connection)

   b_id           b_name b_course
0   101         Let us C      BCA
1   102       Let Us C++    Btech
2   103  Java Head First    Mtech