In [1]:
data = {'name':'Ram','sal':35000,'dept':'IT'}

In [2]:
data

{'name': 'Ram', 'sal': 35000, 'dept': 'IT'}

In [4]:
data['name']

'Ram'

In [7]:
# data.keys()
data.values()

dict_values(['Ram', 35000, 'IT'])

In [6]:
for item in data:
    print(item)

name
sal
dept

In [8]:
for item in data.values():
    print(item)

Ram
35000
IT

In [9]:
for item in data.items():
    print(item)

('name', 'Ram')
('sal', 35000)
('dept', 'IT')

In [10]:
names = ["Rohit","Dhawan","Virat","Dhoni","Rahane","Yuvraj","Jadhav","Jadeja","Bhuvi","Bumrah"]
scores = [56,30,120,55,26,58,96,4,7,0]
s_rate = [90.8,98.2,150.7,120.5,78.6,88.9,110.3,80.6,87.9,100.2]

data = {
    "names" : names,
    "scores" : scores,
    "s_rate" : s_rate
}

In [13]:
data["names"][0]

'Rohit'

In [14]:
# https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
import pandas as pd

In [16]:
df = pd.DataFrame(data)

In [17]:
df

    names  scores  s_rate
0   Rohit      56    90.8
1  Dhawan      30    98.2
2   Virat     120   150.7
3   Dhoni      55   120.5
4  Rahane      26    78.6
5  Yuvraj      58    88.9
6  Jadhav      96   110.3
7  Jadeja       4    80.6
8   Bhuvi       7    87.9
9  Bumrah       0   100.2

In [20]:
# df['names']
df.iloc[0:2,0:2]

    names  scores
0   Rohit      56
1  Dhawan      30